@model Mvc.Models.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin to Allors</title>

    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/signin.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Please sign in</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(m=> m.Email, "Email address", new { @class = "sr-only" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address", type = "email", required="requied", autofocus="autofocus" })

            @Html.LabelFor(m => m.Password, "Password", new { @class = "sr-only" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password", required = "requied" })

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        }
    </div>
</body>
</html>
